{% extends 'base-front.html.twig' %}

{% block title %}Banned{% endblock %}

{% block body %}
    <h1>You are banned</h1>
    <p>You cannot login at this time because your account has been banned.</p>
{% endblock %}