{% extends 'base-front.html.twig' %}

{% block title %}Popular Courses{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span>
                    <h1 class="text-uppercase text-white mb-5">Step up your <span class="text-color">fitness Challange</span><br>with us</h1>

                    <a href="{{ path('app_membership') }}" target="_blank" class="btn btn-main">Join Us <i class="ti-angle-right ml-3"></i></a>                </div>
            </div>
        </div>
    </section>
    <!-- Section Slider End -->

    <!-- Section Intro Start -->
    <section class="mt-80px">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
                        <span class="number">01</span>
                        <h3 class="mt-3">Modern Equipment</h3>
                        <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card p-5 border-0 rounded-top hover-style-1">
                        <span class="number">02</span>
                        <h3 class="mt-3">PROFFESIONAL TRAINer</h3>
                        <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card p-5 border-0 rounded-top hover-style-1">
                        <span class="number">03</span>
                        <h3 class="mt-3">HEALTHY DIET Plan</h3>
                        <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Intro End -->
{% endblock %}
