{% extends 'base-back.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="card" style="width: 20rem; margin-left: 700px; margin-top:80px">
        <img src="{{ asset('back-office/img/iron_core_black.png') }}" width="300" height="300">
    </div>
{% endblock %}
